nav {
	//display: none;
	
	&.left-nav {
		@include make-md-column(2);
		display: block;
		margin-top: 4em;
		
		a {
			color: #999;
			padding: 0.5em 0;
			display: block;
			
			&:hover {
				color: #333;
			}
		}
		
		.current-menu-item > a {
			color: #333;
		}
		
		li:before {
			display: none;
		}
		
		.sub-menu {
			display: none;
		}
		
		.current-menu-item .sub-menu, .current_page_ancestor .sub-menu {
			display: block;
		}
	}
}